/* Globals */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
    background-image: linear-gradient(rgb(241, 241, 241), rgb(221, 240, 240));
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
    font-size: xx-large;
    text-align: center;
    color: rgb(230, 64, 14);
}

h2 {
    color: rgb(236, 108, 69);
}

img {
    border: 1px solid rgb(247, 176, 176);
    border-radius: 6px;
}

a:hover {
    color: rgb(255, 160, 132);
}

/* Amon */

#getting-started {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 2px solid rgb(214, 210, 210);
    border-left: none;
    border-right: none;
}

#getting-started p {
    font-size: 20px;
    color: #3b1912;
}

#getting-started a {
    transition: color 0.5s;
}

#get-started h2,
#what-is-git h2,
#install-git h2 {
    text-decoration: underline;
}

#install-git pre {
    background-color: rgb(216, 218, 212);
    max-width: fit-content;
    padding: 2px 6px;
    border-radius: 7px;
}

/* Brian */
/*  styling for all sections in the div*/

#view-branches,
#switch-branches,
#merge-branch {
    background-color: rgb(236, 231, 231);
    border-radius: 9px;
    border: 1px solid red;
    margin-bottom: 30px;
    padding: 20px;
}


/* styling the Image  */

#view-branches img,
#switch-branches img,
#merge-branch img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #9ab2e2;
    border-radius: 10px;
}


/*styling the headings */

#view-branches h2,
#switch-branches h2,
#merge-branch h2 {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#view-branches h2 li,
#switch-branches h2 li,
#merge-branch h2 li {
    list-style: none;
    background-color: #c3cde9;
    color: #2f4a94;
    padding: 6px 13px;
    border-radius: 6px;
    font-weight: bold;
}


/* styling the Paragraphs*/

#view-branches p,
#switch-branches p,
#merge-branch p {
    font-size: 17px;
    color: #464545;
    line-height: 1.6;
    margin-bottom: 0.6px;
}

/* Ian */


/* John */

.commit {
    background: #857e7e;
    border-radius: 20px;
    margin: 3rem 0;
    box-shadow: #333;
    padding: 3px;
}

.commit h2 {
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 3px solid maroon;
    /* padding:5px; */
}

.commit p {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: dark;
}

.commit img {
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    /* padding:3px;*/
    margin-right: 5px 3px;
}

.codit {
    padding: 1rem;
    margin: 1.5rem 0px;
    border-left: 1rem solid rgb(6, 66, 86);
    background: lightblue;
    font-style: italic;
}

.branch {
    background: #857e7e;
    border-radius: 20px;
    margin: 3rem 0;
    box-shadow: #333;
    padding: 3px;
}

.branch h2 {
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 3px solid maroon;
    /* padding:5px; */
}

.branch p {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: dark;
}

.create {
    background: #857e7e;
    border-radius: 20px;
    margin: 3rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 3px;
}

.create h2 {
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 3px solid maroon;
    padding: 5px;
}

.create img {
    position: relative;
    box-shadow: #857e7e;
    max-width: 100%;
    height: auto;
    padding: 3px;
    margin-right: 5px 3px;
}

.create p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* Willan */


#delete-branch,
#next-steps,
#congrats {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 0%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#delete-branch h2,
#next-steps h2 {
    font-size: 1.5;
    margin-top: 0;
}

pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    overflow-x: auto;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

#congrats p {
    font-style: italic;
    color: #555;
    font-size: 56;
}